
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAFFAF;
    font-weight: 600;
    font-size: auto;
    background-color: #0F67B1;
    width: 100%;
    height: fit-content;
}

body{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin: 0.3rem;
    background-color: #3FA2F6;
    width: 10rem;
    height: fit-content;
    border: none;
    border-radius: 3rem;
    color: #FAFFAF;
}

button:active{
    margin: 0.3rem;
    background-color: #0F67B1;
    width: 10rem;
    height: fit-content;
    border: none;
    border-radius: 3rem;
    color: #FAFFAF;
}


#root{
    width: 60%;
    height: 60%;
}